#root {
  margin: 0;
  padding:0;
  text-align: center;
  width: 100%;
  background-color:var(--backOne);
  color:white
}
.parent-container {
  display: inline-grid;
  width: 100%;
  grid-template-rows: 20vh 75vh 5vh;
}
.item {
  border: 1px solid pink
}