/* main {
  width: 100vw;
  display: flex;
  border: 1px solid red
} */
#content {
  width: 20%
}
#calendar {
  width: 80%;
}
h4 {
  border-bottom: 2px solid white
}
ul {
list-style-type: none;
text-align: left;
margin-top: 2em
}